.dir-rtl .section .activity {
  /* The command block for each activity */
}
.dir-rtl .section .activity .actions {
  left: 0;
  right: auto;
}
.dir-rtl.path-course-view .completionprogress {
  float: none;
}
.dir-rtl.path-course-view li.activity form.togglecompletion .ajaxworking {
  right: -22px;
}
