.dir-rtl .userprofile .description {
  margin-right: 0;
}
.dir-rtl .user-box {
  float: right;
}
.dir-rtl .userprofile dl.list dt {
  float: right;
  text-align: left;
  padding-left: 10px;
}
.dir-rtl .userprofile dl.list dd {
  margin-left: 0;
}
/** Overide for RTL layout **/
.dir-rtl .userprofilebox .descriptionbox {
  margin: 0;
}
.dir-rtl .userlist table#participants {
  margin: 0 auto;
}
#page-my-index.dir-rtl .block h3 {
  text-align: right;
}
