/* @group Gradebook */
#page-grade-report-grader-index .generaltable th.user {
  padding-right: 45px;
}
#page-grade-report-grader-index .generaltable th.user img.userpicture {
  float: left;
}
#page-grade-report-grader-index .generaltable .heading.r1 > th,
#page-grade-report-grader-index .generaltable .heading_name_row.r1 > th {
  padding-right: 35px;
  vertical-align: middle;
}
#page-grade-report-grader-index h1 {
  clear: none;
}
#page-grade-report-grader-index .gradeparent div:nth-of-type(2):not(.topscroll).right_scroller {
  padding-top: 22px;
}
#page-grade-report-grader-index .gradeparent .right_scroller .topscroll {
  min-height: 22px;
}
#page-grade-report-grader-index #user-grades,
#page-grade-report-grader-index table#fixed_column {
  margin-top: 0px;
}
/* @end */
