/* @group Gradebook */
.messagearea {
  padding-bottom: 60px;
}
.messagearea #fitem_id_message .fitemtitle {
  width: auto;
  max-width: 20%;
}
.messagearea #fitem_id_message .felement.ftextarea {
  float: left;
  margin-left: 25px;
  width: 70%;
}
.messagearea #fitem_id_submitbutton .felement.fsubmit {
  margin-left: 0px;
}
/* @end */
