/* @group Quiz */
#page-mod-quiz-edit div.question div.content div.points {
  margin-top: 0;
}
#page-mod-quiz-edit div.question div.content div.questioncontrols {
  float: right;
  width: 60px;
  position: absolute;
  right: 0.3em;
  top: 0.2em;
  display: block;
  text-align: right;
  background-color: transparent;
}
#page-mod-quiz-edit div.quizpage .pagecontent {
  width: 100%;
}
#page-mod-quiz-edit .pagecontrols .singlebutton {
  margin-left: 1.4em;
}
#page-mod-quiz-edit .addpage {
  margin-right: 0em;
}
#page-mod-quiz-edit div.quizcontents {
  clear: left;
  display: block;
  float: left;
  width: 67%;
}
#page-mod-quiz-edit .questionbankwindow.block div.header {
  border-radius: 6px;
}
#page-mod-quiz-edit .questionbankwindow.block div.header .title h2 {
  margin-bottom: 0px;
}
#page-mod-quiz-edit .reorder div.question div.content .questionpreview .fa {
  vertical-align: middle;
}
#page-mod-quiz-edit .questionbank select.menucategory {
  width: 100%;
}
.questionbankwindow.block {
  background: white;
  padding: 0px 12px;
  border-radius: 8px;
  border: 1px solid #E1E1E1;
  margin-bottom: 10px;
}
.questionbankwindow.block .header .title {
  border-bottom: 0px none;
}
.questionbankwindow.block .header .title h2:before {
  content: "\f128";
}
#page-question-preview h1 {
  font-size: 1.5em;
}
/* @end Quiz */
